fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic[email]
email-validator
python-dotenv
jinja2
python-multipart
httpx
requests
qrcode[pil]
Pillow
itsdangerous
passlib[bcrypt]
bcrypt
aiosmtplib